name: Docker Build and Push

on:
  push:
    tags:
      - 'v*'
  release:
    types:
      - published

jobs:
  build-and-push-image:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
        with:
          fetch-depth: 0

      - name: Build and push Docker image
        run: |
          echo $VERSION_LATEST
          echo $VERSION_TAG
