name: Docker Build and Push

on:
  pull_request:
    branches:
      - main
    types:
      - closed

jobs:
  build-and-push-image:
    runs-on: ubuntu-latest
    if: github.event.pull_request.merged == true && github.event.pull_request.head.ref == 'release-please--branches--main'
    steps:
      - uses: actions/checkout@v5
        with:
          fetch-depth: 0

      - name: Build and push Docker image
        run: |
          echo $VERSION_LATEST
          echo $VERSION_TAG
