name: Release

on:
  push:
    branches:
      - main

permissions:
  contents: write
  pull-requests: write

# jobs:
#   release-please:
#     runs-on: ubuntu-latest

#     steps:
#       - name: Run Release Please
#         uses: googleapis/release-please-action@v4
#         with:
#           # Choose the release type depending on your project
#           # For general repos with no package files, use "simple"
#           release-type: simple


#           # Use default (main) branch as source
#           target-branch: main
#             
#           # Path to the release-please config in the repository
#           config-file: .github/release-please-config.json
jobs:
  release-please:
    runs-on: ubuntu-latest
    
    steps:
      - name: "Build Changelog"
        id: build_changelog
        if: startsWith(github.ref, 'refs/tags/')
        uses: mikepenz/release-changelog-builder-action@v6
        with:
          configuration: "configuration_complex.json"
          owner: "mikepenz"
          repo: "release-changelog-builder-action"
          ignorePreReleases: "true"
          fromTag: "1.0.0"
          toTag: "1.2.2"
