name: SemVer Tag Test

on:
  push:
    branches:
      - main

permissions:
  contents: write
  pull-requests: write

jobs:
  release-please:
    runs-on: ubuntu-latest

    steps:
      - uses: googleapis/release-please-action@v4
        with:
          target-branch: main
          manifest-file: .github/.release-please-manifest.json
