name: Test Changelog Builder

on:
  push:
    tags:
      - '*'   # runs on any tag

permissions:
  contents: write
  pull-requests: write

jobs:
  build-changelog:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Build Changelog
        id: build_changelog
        uses: mikepenz/release-changelog-builder-action@v6
        with:
          configuration: "configuration_complex.json"
          owner: "${{ github.repository_owner }}"
          repo: "${{ github.event.repository.name }}"
          mode: "COMMIT"
            
      - name: Show Changelog
        run: |
          echo "===== GENERATED CHANGELOG ====="
          echo "${{ steps.build_changelog.outputs.changelog }}"